<header>
<div class="top">
<nav>
<ul>
<li>
<%= link_to 'YYS Shop', products_path %>
</li>

<li style="width:30%; margin-top:12px;">
<%= form_tag(products_path, :method => "get", id: "search-form") do %>
<div class="search-left">
  <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), :include_blank => 'All' %>
</div>
<div class="search-center">
  <%= text_field_tag :search, params[:search], placeholder: "Search" %>
</div>
<div class="search-right">
  <%= submit_tag 'Search' %>
</div>
<% end %>
</li>


<li>
<div class="cart-left">
<%= link_to 'Cart', carts_path %>
</div>
</li>


<li>
<%= link_to 'Login', new_customer_path %>
</li>


</nav>
</div>

<div class="navigation">
<nav>
<ul>
<li>
<%= link_to 'Home', products_path %>
</li>
<% Category.all.each do |category| %>
<li>
<%= link_to category.name, category_path(category) %>
</li>
<% end %>
</nav>
</div>
</header>
