<div class="homepage_products">
<h2>Invoice</h2>
<%= form_for(@order) do |f| %>
<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this address from being saved:</h2>

    <ul>
    <% address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% total = 0 %>

<table class="cart_summary">
<tr>
<th colspan="2" >Product</th>
<th>Price</th>
<th>Quantity</th>
<th>Total</th>
</tr>

<tr>
<td colspan="6">
<hr>
</td>
</tr>

<% @cart.each do |cart_id, qty| %>
<% cartid =  cart_id.to_i() %>
<% p = Product.find(cartid) %>
<tr>

<% if p.image.present? %>
<td>
<p><%= image_tag(p.image) %></p>
</td>
<% end %>

<td>
<p><%= p.name %></p>
</td>

<td>
<p>$ <%= p.price %></p>
</td>

<td>
<p>$ <%= qty %></p>
</td>

<td>
<p>$ <%= p.price*qty %></p>
</td>
</tr>

<tr>
<td colspan="6">
<hr>
</td>
</tr>
<% total += qty*p.price %>

<% end %>

</table>


<table class="subtotal">

<tr>
<td>Subtotal</td>
<td><%= number_to_currency(total) %></td>
</tr>

<% province_id = current_user.addresses.first.province_id %>
<% province = Province.find(province_id) %>
<% tax_rate = province.pst +  province.hst + 0.05 %>

<% tax = total * tax_rate %>
<% totalall = total * ( 1 + tax_rate ) %>

<tr>
<td>Tax</td>
<td><%= number_to_currency(tax) %></td>
</tr>

<tr>
<td>Total</td>
<td><%= number_to_currency(totalall) %></td>
</tr>


</table>

<article>
  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>
</article>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description=<%= @description %>
        data-amount=<%= @amount %>
        data-locale="auto">
</script>

<% end %>
</div>
