<div  class="my_cart">
<h2>Shopping Cart</h2>

<% total = 0 %>
<% totalquantity = 0 %>

<% if @cart.empty? %>
<p class="mgs">
There is no item in your cart.
</p>
<% else %>
<hr>

<table class="cart_summary">
<tr>
<th colspan="2" >Product</th>
<th>Price</th>
<th>Quantity</th>
<th>Total</th>
</tr>

<tr>
<td colspan="6">
<hr>
</td>
</tr>

<% @cart.each do |cart_id, qty| %>
<% cartid =  cart_id.to_i() %>
<% p = Product.find(cartid) %>
<tr>

<% if p.image.present? %>
<td>
<p><%= link_to image_tag(p.image), product_path(p) %></p>
</td>
<% end %>

<td>
<p><%= p.name %></p>
<p><%= link_to 'remove', cart_path(p.id), method: :delete, data: { confirm: 'Are you sure?'} %></p>
</td>

<td>
<p>$ <%= p.price %></p>
</td>

<td>
<p>
<%= form_for p, :url => {:controller => 'carts', :action => 'update', id: p.id } do |f| %>
<div class="field">
<%= f.submit '-' %>
<%= f.number_field :qty, :value => qty, :disabled=>true %>
<%= f.submit '+' %>
</div>
<% end %>

</p>
</td>

<td>
<p><%= number_to_currency(p.price*qty) %></p>
</td>
</tr>

<tr>
<td colspan="6">
<hr>
</td>
</tr>

<% total += qty*p.price %>
<% totalquantity += qty %>
<% end %>

</table>

<table class="subtotal">
<tr>
<td>Total Quantity</td>
<td><%= totalquantity %></td>
</tr>

<tr>
<td>Subtotal</td>
<td><%= number_to_currency(total) %></td>
</tr>
</table>


<p class="button">
  <%= link_to 'Empty Cart', cart_clear_path %>
</p>


<p class="button right">
  <%= link_to 'Checkout', new_address_path %>
</p>


<% end %>

</div>
