<div class="homepage_products">
<h2>Add Address</h2>

<% hasaddress = "" %>
<% Address.all.each do |address| %>
<% if address.customer_id = current_user.id %>
<% hasaddress = "1" %>
<% else %>
<% hasaddress = "0" %>
<% end %>
<% end %>


<% if hasaddress == "1" %>
<% Address.all.each do |address| %>
<% if address.customer_id = current_user.id %>

<% province = Province.find(address.province_id).name %>

<p>Your Default Shpping Address is:</p>
<p><b><%= address.firstname %> <%= address.lastname %></b></p>
<p><%= address.address %></p>
<p><%= address.city %>, <%= province %> , <%= address.country %></p>

<p class="button"><%= link_to 'Update', edit_address_path(@address, :id=> address.id ) %></p>
<p class="button"><%= link_to 'Comfirm', new_order_path %></p>

<% end %>
<% end %>
<% else %>
<%= render 'form', address: @address %>

<% end %>

</div>
